[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# My tweaks
innodb
innodb_file_per_table
log-slow-queries
max_heap_table_size = 32M
open_files_limit=100000
query_cache_size = 2M
skip-name-resolve
table_definition_cache = 1M
table_open_cache = 1M
thread_cache_size = 1k
tmp_table_size = 32M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
