# Server config
# Date:     20130428
# Author:   Renich Bon Ciric <renich@woralelandia.com>

# Log
SyslogFacility AUTHPRIV

# Auth
ChallengeResponseAuthentication no
PasswordAuthentication yes
UsePAM yes

# Settings
Banner /etc/ssh/banner
PermitRootLogin without-password
UseDns yes
UsePrivilegeSeparation sandbox
X11Forwarding yes

# Locale
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# sFTP
Subsystem   sftp    /usr/libexec/openssh/sftp-server -u 002

# Users
AllowUsers root user

Match User user
    PubkeyAuthentication yes
    PasswordAuthentication yes

Match User root,user1,user2,user3
    PubkeyAuthentication yes
    PasswordAuthentication yes

