# OpenSSH Server config
# Date:     20120110
# Author:   Renich Bon Ciric <renich@toolsnet.mx>

# Log
SyslogFacility AUTHPRIV

# Disable DNS
UseDNS no

# Auth
ChallengeResponseAuthentication no
PasswordAuthentication yes
UsePAM yes

# Locale
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv XMODIFIERS

# Permissions
X11Forwarding no

# sFTP
Subsystem   sftp    /usr/libexec/openssh/sftp-server

AllowUsers renich root
PermitRootLogin without-password

Match User renich
PubkeyAuthentication yes
PasswordAuthentication yes

Match User root
PubkeyAuthentication yes
PasswordAuthentication no
